<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'StatsGridOrbs1',
});
</script>

<template>
  <div ref="path" class="path">
    <svg
      width="526"
      height="465"
      viewBox="0 0 526 465"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        opacity="0.5"
        d="M274.685 97.9547C306.983 64.5114 343.737 39.0243 380.886 26.7526C477.875 -5.28498 540.837 64.8874 521.515 183.49C502.192 302.092 407.901 424.208 310.912 456.247C241.972 479.02 190.225 450.152 173 388.96"
        stroke="#9B91CC"
        stroke-width="0.813486"
        stroke-linecap="round"
        stroke-dasharray="1.25 10.01"
      />
      <g filter="url(#filter0_d_463_6271)">
        <path
          d="M266.482 412.269C267.712 412.269 268.71 411.271 268.71 410.04C268.71 408.809 267.712 407.812 266.482 407.812C265.251 407.812 264.254 408.809 264.254 410.04C264.254 411.271 265.251 412.269 266.482 412.269Z"
          fill="url(#paint1_linear_463_6271)"
        />
      </g>
      <g filter="url(#filter1_d_463_6271)">
        <path
          d="M502.638 60.9337C505.1 60.9337 507.097 58.9366 507.097 56.4732C507.097 54.0097 505.1 52.0127 502.638 52.0127C500.175 52.0127 498.179 54.0097 498.179 56.4732C498.179 58.9366 500.175 60.9337 502.638 60.9337Z"
          fill="url(#paint2_linear_463_6271)"
        />
      </g>
      <g filter="url(#filter2_d_463_6271)">
        <path
          d="M228.533 61.8284C229.763 61.8284 230.761 60.8307 230.761 59.5998C230.761 58.3689 229.763 57.3711 228.533 57.3711C227.302 57.3711 226.305 58.3689 226.305 59.5998C226.305 60.8307 227.302 61.8284 228.533 61.8284Z"
          fill="url(#paint3_linear_463_6271)"
        />
      </g>
      <defs>
        <filter
          id="filter0_d_463_6271"
          x="261.015"
          y="404.572"
          width="10.9346"
          height="10.9355"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"
          />
          <feOffset />
          <feGaussianBlur stdDeviation="1.61963" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0.952941 0 0 0 0 0.623529 0 0 0 0 0.772549 0 0 0 0.75 0"
          />
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_463_6271"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_463_6271"
            result="shape"
          />
        </filter>
        <filter
          id="filter1_d_463_6271"
          x="494.939"
          y="48.7734"
          width="15.3965"
          height="15.3994"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"
          />
          <feOffset />
          <feGaussianBlur stdDeviation="1.61963" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0.952941 0 0 0 0 0.623529 0 0 0 0 0.772549 0 0 0 0.75 0"
          />
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_463_6271"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_463_6271"
            result="shape"
          />
        </filter>
        <filter
          id="filter2_d_463_6271"
          x="223.065"
          y="54.1318"
          width="10.9346"
          height="10.9355"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"
          />
          <feOffset />
          <feGaussianBlur stdDeviation="1.61963" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0.952941 0 0 0 0 0.623529 0 0 0 0 0.772549 0 0 0 0.75 0"
          />
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_463_6271"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_463_6271"
            result="shape"
          />
        </filter>
        <radialGradient
          id="paint0_radial_463_6271"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="translate(220.541 215.965) rotate(90) scale(104.012 103.659)"
        >
          <stop stop-color="#B092F2" stop-opacity="0.4" />
          <stop offset="0.856688" stop-color="#B092F2" stop-opacity="0" />
        </radialGradient>
        <linearGradient
          id="paint1_linear_463_6271"
          x1="264.456"
          y1="410.849"
          x2="268.579"
          y2="409.151"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#5DDAB4" />
          <stop offset="1" stop-color="#338F7E" />
        </linearGradient>
        <linearGradient
          id="paint2_linear_463_6271"
          x1="498.564"
          y1="58.0933"
          x2="506.812"
          y2="54.6985"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FFC783" />
          <stop offset="1" stop-color="#FCA121" />
        </linearGradient>
        <linearGradient
          id="paint3_linear_463_6271"
          x1="226.513"
          y1="60.3528"
          x2="230.633"
          y2="58.6566"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#F39FC5" />
          <stop offset="1" stop-color="#E24329" />
        </linearGradient>
      </defs>
    </svg>
  </div>
</template>

<style lang="scss" scoped>
.path {
  height: 140%;
  width: 140%;
  position: absolute;
  left: -30%;
  svg {
    width: 100%;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
</style>
