<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'TopicsHeader',
  components: {},
  props: {
    data: {
      type: Object,
      default: null,
      required: false,
    },
  },
  data() {
    return {
      currentLinkIndex: 0,
    };
  },
});
</script>

<template>
  <SlpRow class="wrapper">
    <SlpTypography
      v-if="data.read_time"
      variant="body2"
      class="read-time-pill"
      >{{ data.read_time }}</SlpTypography
    >
    <SlpColumn :cols="9" class="column">
      <div v-for="(block, index) in data.block" :key="index" class="container">
        <span v-if="block.metadata" :id="block.metadata.id_tag || ''"></span>
        <div
          class="copy"
          :class="{ 'two-col': !block.resources && data.two_col }"
        >
          <SlpTypography tag="h1" variant="heading1-bold" class="copy__title">{{
            data.title || 'Resources'
          }}</SlpTypography>
          <hr class="divider" />
          <div class="copy__body">
            <div>
              <SlpTypography v-if="block.text" tag="div" variant="heading4">
                <div v-html="$md.render(block.text)"></div
              ></SlpTypography>
              <SlpButton
                v-if="block.link_href"
                :href="block.link_href"
                :data-ga-name="block.data_ga_name"
                :data-ga-location="block.data_ga_location || 'header'"
                class="copy__link"
                >{{ block.link_text }}
              </SlpButton>
            </div>
            <SlpTypography
              v-if="data.updated_date"
              class="updated-date"
              variant="body2"
            >
              Updated {{ data.updated_date }}</SlpTypography
            >
          </div>
        </div>
      </div>
    </SlpColumn>
  </SlpRow>
</template>

<style lang="scss" scoped>
.read-time-pill {
  background: $color-surface-800;
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: $spacing-48;
  font-weight: 600;
}
.wrapper {
  margin-top: $spacing-32;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.container {
  display: flex;
  margin: 0 auto;
  position: relative;

  hr {
    margin: $spacing-32 0;
  }

  &__corner-img {
    position: absolute;
    left: -$spacing-64;
    top: -$spacing-24;
    &--two-col {
      top: -$spacing-48;
      left: -$spacing-96;
    }
  }
  @media (max-width: $breakpoint-lg) {
    flex-direction: column;
  }
}

.copy {
  @media (max-width: $breakpoint-md) {
    text-align: center;
  }

  @media (max-width: $breakpoint-lg) {
    margin-right: 0;
  }

  @media (max-width: $breakpoint-md) {
    text-align: center;
  }

  &__title {
    margin-bottom: $spacing-32;
    z-index: 0;

    &:before,
    &:after {
      position: absolute;
      width: 180px;
      height: 180px;
      content: '';
      z-index: -1;
    }
  }
  h4 {
    color: $color-text-300;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: $spacing-16;

    @media (min-width: $breakpoint-xl) {
      line-height: 28px;
    }
  }

  &__body {
    display: flex;
    color: $color-text-300;
    line-height: 30px;

    .updated-date {
      white-space: nowrap;
      @media (max-width: $breakpoint-lg) {
        display: none;
      }
    }

    &:deep li {
      font-size: 16px;
    }

    & :deep p a {
      color: $color-text-link-100;
      font-size: 23px !important;
    }

    .slp-text-heading3 {
      & :deep p a {
        font-size: 40px !important;
      }
    }
  }

  &__link {
    margin-top: $spacing-32;
  }
  &:hover {
    text-decoration: none;
  }

  &--active {
    padding-right: $spacing-96;
    font-weight: 600;

    &:after {
      width: 86px;
    }

    &--active:after,
    &:hover:after,
    &:active:after {
      background-color: $color-secondary-200;
      height: 2px;
      transition: all ease-in 0.2s;
    }
  }

  &.two-col {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .copy__title {
      flex: 41.66%;
    }

    .copy__body {
      flex: 58.34%;
    }

    @media (max-width: 959px) {
      .copy__title {
        flex: 100%;
      }

      .copy__body {
        flex: 100%;
      }
    }
  }

  @media (max-width: $breakpoint-sm) {
    &__title h1 {
      font-size: 36px;
      line-height: 44px;
    }
  }
}

.divider {
  width: 100%;
  margin: $spacing-24 0 $spacing-48 0;
  border: 0;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: 0;
  border-top: 1px solid #e7e7e7;
}
</style>
