<script lang="ts">
import { MetaInfo } from 'vue-meta/types/vue-meta';
import Vue from 'vue';
import { NextStepAlt } from '~/components/common/index.vue';
import { getPageMetadata } from '~/common/meta';
import { getClient } from '~/plugins/contentful';
import { CONTENT_TYPES } from '~/common/content-types';
import { SolutionsHero } from '~/components/solutions/index.vue';
import {
  Card500,
  OnDemandDemos,
  UpcomingDemoSeries,
} from '~/components/gitlab-technical-demo-series/index.vue';
import BySolutionLink from '~/components/solutions/by-solution/by-solution-link.vue';
import { CtfCard, CtfCardGroup } from '../../models/content-types.dto';

export default Vue.extend({
  components: {
    NextStepAlt,
    SolutionsHero,
    OnDemandDemos,
    UpcomingDemoSeries,
    Card500,
    BySolutionLink,
  },
  nuxtI18n: false,
  asyncData() {
    const client = getClient();
    const content = client
      .getEntries({
        content_type: CONTENT_TYPES.PAGE,
        'sys.id': '6EntheBwGnNlBj48gEexTI',
        include: 10,
      })
      .then(({ items: [{ fields }] }) => {
        const hero_data = fields.pageContent[0].fields;

        const hero = {
          hide_in_mobile: true,
          title: hero_data.title,
          subtitle: hero_data.description,
          image: {
            image_url: hero_data.backgroundImage.fields.file.url,
            image_alt: '',
          },
          cta: hero_data.cta,
          note: [hero_data.subheader],
          primary_btn: {
            text: hero_data.primaryCta.fields.text,
            link: hero_data.primaryCta.fields.externalUrl,
          },
          secondary_btn: {
            text: hero_data.secondaryCta.fields.text,
            link: hero_data.secondaryCta.fields.externalUrl,
            icon: {
              name: hero_data.secondaryCta.fields.iconName,
              variant: hero_data.secondaryCta.fields.iconVariant,
            },
          },
        };

        const demo_series_data: CtfCardGroup = fields.pageContent[1].fields;

        const on_demand_videos_data: CtfCardGroup =
          fields.pageContent[2].fields;

        const card_data: CtfCard = fields.pageContent[3].fields;

        const card = {
          alt: '',
          description: card_data.description,
          icon: card_data.iconName,
          image: card_data.image.fields.file.url,
          link: card_data.button.fields.externalUrl,
          title: card_data.title,
        };

        const resources: CtfCardGroup = fields.pageContent[4].fields;

        return {
          hero: hero,
          demo_series_data: demo_series_data,
          on_demand_videos_data: on_demand_videos_data,
          card: card,
          resources: resources,
          seo: fields.seoMetadata[0].fields,
        };
      });

    return content;
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).seo, this.$route.path);
  },
});
</script>

<template>
  <div>
    <SolutionsHero :data="hero" />
    <UpcomingDemoSeries :card-group="demo_series_data" class="slp-mb-64" />
    <OnDemandDemos :card-group="on_demand_videos_data" class="slp-mb-64" />
    <BySolutionLink :data="card" />
    <SlpContainer>
      <SlpRow class="card500__container">
        <Card500
          v-for="card in resources.card"
          :key="card.internalName"
          :card="card.fields"
        />
      </SlpRow>
    </SlpContainer>
    <NextStepAlt class="slp-mt-160" />
  </div>
</template>

<style lang="scss" scoped>
.card500__container {
  gap: $spacing-32;
  flex-wrap: nowrap;
}

@media screen and (max-width: $breakpoint-md) {
  .card500__container {
    flex-wrap: wrap;
  }
}
</style>
