<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'StudyCard',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      content: null,
    };
  },
});
</script>

<template>
  <section class="study-card">
    <SlpContainer>
      <div class="study-card__container">
        <SlpTypography variant="heading5-bold" tag="h5" class="slp-mb-16">
          {{ data.blurb }}
        </SlpTypography>
        <SlpRow class="study-card__top">
          <div class="study-card__header slp-mb-8">
            <SlpTypography variant="heading2-bold" tag="h2">
              {{ data.header }}
            </SlpTypography>
          </div>
          <SlpButton
            variant="tertiary"
            :href="data.button.href"
            :data-ga-name="data.button.data_ga_name"
            :data-ga-location="data.button.data_ga_location"
            class="study-card__main-button"
          >
            {{ data.button.text }}
            <SlpIcon
              name="chevron-lg-right"
              variant="product"
              class="slp-ml-8"
            />
          </SlpButton>
        </SlpRow>
        <SlpRow>
          <SlpColumn
            v-for="(stat, index) in data.stats"
            :key="index"
            :col="4"
            class="slp-px-48 slp-pt-64"
          >
            <SlpTypography variant="heading1-bold" tag="h2">
              {{ stat.value }}
            </SlpTypography>
            <SlpTypography variant="body2-bold" tag="h2">
              {{ stat.text }}
            </SlpTypography>
          </SlpColumn>
        </SlpRow>
      </div>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.study-card {
  background-color: $color-surface-700;
  background-image: linear-gradient(
    to top,
    $color-surface-50 60%,
    rgba(0, 0, 0, 0) 0%
  );
  color: $color-text-50;

  &__container {
    background: $color-surface-700;
    border-radius: 12px;
    border: 1px solid $color-surface-600;
    padding: $spacing-32 $spacing-24;
    position: relative;
    @media (min-width: $breakpoint-sm) {
      padding: $spacing-64;
    }
    @media (min-width: $breakpoint-md) {
      max-width: 100%;
    }
  }
  &__col-wrapper {
    @media (min-width: $breakpoint-md) {
      display: flex;
      flex-direction: row;
      gap: $spacing-16;
    }
  }
  &__col-cta {
    flex: 1 0 50%;
    margin-top: $spacing-32;
    @media (min-width: $breakpoint-md) {
      margin-top: 0;
    }
  }
  &__button {
    width: 95%;
    color: $color-primary-300;
    display: inline-block;
    text-align: left;
    :deep .slp-icon {
      display: inline-block;
      position: relative;
      div {
        position: absolute;
        top: 2px;
      }
    }

    @media (max-width: $breakpoint-md) {
      width: 100%;
    }
  }
  &__header {
    background: linear-gradient(
      89.95deg,
      #feb484 3.13%,
      #a686f2 66.86%,
      #592ac8 123.2%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__top {
    justify-content: space-between;
    align-items: flex-end;
  }
  &__main-button {
    width: 100%;
    color: $color-text-50;
    @media (min-width: $breakpoint-sm) {
      width: auto;
    }
  }
}
</style>
