<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    data: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
});
</script>

<template>
  <div class="slp-my-96" :class="data.variant">
    <SlpTypography variant="heading1-bold" tag="h2">
      {{ data.header }}
    </SlpTypography>
    <SlpTypography class="description" variant="body1" tag="p">
      {{ data.description }}
    </SlpTypography>
  </div>
</template>

<style lang="scss" scoped>
.description {
  max-width: 60%;
  margin-top: $spacing-24;
  @media (max-width: $breakpoint-lg) {
    max-width: 100%;
  }
}
.light {
  color: $color-surface-800;
}
</style>
