<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'FeatureShowcase',
  components: {},
  props: {
    data: {
      type: Array,
      required: true,
      default() {
        return [];
      },
    },
  },
  data() {
    return {};
  },
  methods: {},
});
</script>

<template>
  <div class="feature-showcase">
    <SlpRow class="feature-showcase__row">
      <SlpColumn :col="6">
        <div class="feature-showcase__card">
          <SlpIcon
            :name="data[0].icon.name"
            :variant="data[0].icon.variant"
            :size="data[0].icon.size"
            class="slp-mb-16"
            slp-color="surface-500"
          />
          <SlpTypography tag="h5" variant="heading5-bold">
            <span v-html="data[0].blurb"></span
          ></SlpTypography>

          <div class="slp-mb-16">
            <div
              v-for="stat in data[0].stats"
              :key="stat.blurb"
              class="feature-showcase__pill"
            >
              <SlpIcon
                :name="stat.icon.name"
                :variant="stat.icon.variant"
                :size="stat.icon.size"
                slp-color="surface-700"
                class="slp-mr-4"
              />
              <SlpTypography tag="h5" variant="heading5-bold" class="slp-mr-8">
                <span v-html="stat.value"></span
              ></SlpTypography>
              <SlpTypography tag="p" variant="body3-bold">
                {{ stat.blurb }}</SlpTypography
              >
            </div>
          </div>

          <SlpButton
            variant="tertiary"
            class="slp-mt-16"
            :href="data[0].button.href"
            :data-ga-name="data[0].button.data_ga_name"
            :data-ga-location="data[0].button.data_ga_location"
          >
            {{ data[0].button.text }}
            <SlpIcon
              name="chevron-right"
              variant="product"
              size="medium"
              class="feature-showcase__content-icon"
            />
          </SlpButton>
        </div>
      </SlpColumn>
      <SlpColumn :col="6">
        <div class="feature-showcase__card">
          <SlpIcon
            :name="data[1].icon.name"
            :variant="data[1].icon.variant"
            :size="data[1].icon.size"
            class="slp-mb-16"
            slp-color="surface-500"
          />
          <SlpTypography tag="p" variant="body1-bold" class="slp-mb-16">
            {{ data[1].title }}</SlpTypography
          >
          <SlpButton
            variant="tertiary"
            class="feature-showcase__btn"
            :href="data[1].button.href"
            :data-ga-name="data[1].button.data_ga_name"
            :data-ga-location="data[1].button.data_ga_location"
          >
            {{ data[1].button.text }}
            <SlpIcon
              name="chevron-right"
              variant="product"
              size="medium"
              class="feature-showcase__content-icon"
            />
          </SlpButton>
        </div>
        <div class="feature-showcase__card">
          <SlpIcon
            :name="data[2].icon.name"
            :variant="data[2].icon.variant"
            :size="data[2].icon.size"
            class="slp-mb-16"
            slp-color="surface-700"
          />
          <SlpTypography tag="p" variant="body1-bold" class="slp-mb-16">
            {{ data[2].title }}</SlpTypography
          >
          <SlpButton
            variant="tertiary"
            class="feature-showcase__btn"
            :href="data[2].button.href"
            :data-ga-name="data[2].button.data_ga_name"
            :data-ga-location="data[2].button.data_ga_location"
          >
            {{ data[2].button.text }}
            <SlpIcon
              name="chevron-right"
              variant="product"
              size="medium"
              class="feature-showcase__content-icon"
            />
          </SlpButton>
        </div>
      </SlpColumn>
    </SlpRow>
  </div>
</template>

<style lang="scss" scoped>
.feature-showcase {
  padding-bottom: 32px;
  position: relative;
  @media (min-width: $breakpoint-md) {
    padding-bottom: $spacing-24;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 101vw;
    background: $color-surface-700;
    height: calc(100% - 100px);
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    @media (min-width: $breakpoint-md) {
      height: 120px;
    }
  }

  &__card {
    border-radius: 8px 8px 0px 0px;
    background: $color-surface-800;
    padding: $spacing-32 $spacing-24;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 16px;
    @media (min-width: $breakpoint-md) {
      border-radius: 8px 0px 0px 8px;
      margin-bottom: 0;
      padding: $spacing-32;
    }

    // & > :first-child {
    //   margin-top: auto;
    // }

    & > :last-child {
      margin-top: auto;
      padding-bottom: 0;
      @media (min-width: $breakpoint-md) {
        margin-top: auto;
      }
    }

    &:first-of-type:not(:last-of-type) {
      border-radius: 0px;
      margin: 0;
      height: 100%;
      margin-bottom: 0;
      @media (min-width: $breakpoint-md) {
        border-radius: 0px 8px 0px 0px;
      }
    }
    &:last-of-type:not(:first-of-type) {
      border-radius: 0px 0px 90px 8px;
      margin-top: 16px;
      margin-bottom: 0;
      height: 100%;
      @media (min-width: $breakpoint-md) {
        border-radius: 0px 0px 90px 0px;
      }
    }
    :deep a:not(.slp-btn):hover {
      -webkit-text-decoration: underline;
      text-decoration: underline;
    }
  }
  &__logo {
    max-height: 32px;
    filter: grayscale(100%);
  }
  &__pill {
    display: flex;
    border-radius: 90px;
    background: white;
    margin-top: 16px;
    padding: $spacing-8 $spacing-24;
    width: 100%;
    align-items: center;
    :deep {
      .slp-icon div,
      .slp-icon {
        height: 24px;
        width: 24px;
        max-height: 24px;
        max-width: 24px;
        margin-left: -6px;
      }
    }
    @media (min-width: $breakpoint-md) {
      width: 80%;
    }
  }
  &__row {
    z-index: 1;
    position: relative;
    @media (min-width: $breakpoint-md) {
      margin-left: -16px;
    }
    :deep .slp-col-md {
      width: 100%;
      display: flex;
      flex-direction: column;
      @media (min-width: $breakpoint-md) {
        padding-left: 16px;
      }
    }
  }
  &__btn {
    margin-top: auto;
    padding-bottom: 0;
  }
  &__content-icon {
    height: 20px;
    width: 20px;
  }
}
</style>
