<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import {
  Benefits,
  Copy,
  CopyForm,
  CopyMedia,
  Faq,
  FeaturedMedia,
  LinkCards,
  NextStep,
  PullQuote,
  Table as SlpTable,
  CTA as SolutionsCallToAction,
  TabsMenu,
} from '../../../components/common/index.vue';
import {
  CaseStudyTabs,
  EducationCaseStudyCarousel,
  EducationFeatureTiers,
  EducationPricing,
  EducationStats,
  EduSurveyCopyMedia,
} from '../../../components/solutions/education/index.vue';
import {
  CaseStudies,
  ImageCard,
  SolutionsCarouselVideos,
  SolutionsHero,
} from '../../../components/solutions/index.vue';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    Benefits,
    CaseStudyTabs,
    NextStep,
    CopyForm,
    EducationFeatureTiers,
    EducationPricing,
    EducationCaseStudyCarousel,
    EducationStats,
    PullQuote,
    FeaturedMedia,
    EduSurveyCopyMedia,
    TabsMenu,
    LinkCards,
    Copy,
    ImageCard,
    CaseStudies,
    SolutionsCallToAction,
    CopyMedia,
    SolutionsCarouselVideos,
    SlpTable,
    Faq,
    SolutionsHero,
  },
  async asyncData({ $content, params, i18n }: any) {
    try {
      const locale = i18n.locale === i18n.defaultLocale ? '' : i18n.locale;
      const education = await $content(
        locale,
        `solutions/education/${params.education ? params.education : 'index'}`,
      ).fetch();
      return { education };
    } catch (e) {
      throw new Error(e);
    }
  },
  head(): MetaInfo {
    return getPageMetadata(
      (this as any).education,
      this.$route.path,
      this.$nuxtI18nHead({ addSeoAttributes: true }),
    );
  },
});
</script>

<template>
  <div class="solutions-wrapper">
    <SlpContainer>
      <component
        :is="component.name"
        v-for="component in education.components"
        :key="component.name"
        :data="component.data"
      />
    </SlpContainer>

    <SlpContainer variant="gradient">
      <NextStep :variant="4" disable-animations />
    </SlpContainer>
  </div>
</template>

<style scoped lang="scss">
.solutions-wrapper {
  overflow: hidden;

  &:deep .slp-container .container,
  &:deep .slp-conatiner .slp-container {
    padding-left: 0;
    padding-right: 0;
  }
}
</style>
