<script lang="ts">
import Vue from 'vue';
import { getPageMetadata } from '../../common/meta';
import { NextStep } from '../../components/common/index.vue';
import {
  Careers,
  Conduct,
  EventSection,
  EventsSchedule,
  Intro,
  LightningHero,
} from '../../components/events/index.vue';
import { CONTENT_TYPES } from '../../common/content-types';
import { getClient } from '~/plugins/contentful.js';
import {
  StandardEventData,
  standardEventsDataHelper,
} from '~/services/events/events.service';
import { FooterEditLinkMixin } from '~/mixins';

export default Vue.extend({
  components: {
    LightningHero,
    Intro,
    EventSection,
    EventsSchedule,
    Careers,
    Conduct,
    NextStep,
  },
  mixins: [FooterEditLinkMixin],
  nuxtI18n: false,
  async asyncData() {
    try {
      const query: any = await getClient().getEntries({
        content_type: CONTENT_TYPES.EVENT,
        include: 10,
        'sys.id': '2v6U6ISZ8UjC3dJZ1zhiMM',
      });

      const entryFields = query.items[0]?.fields;
      const spaceId = query.items[0].sys.space.sys.id;
      const entryId = query.items[0].sys.id;

      const content: StandardEventData = {
        ...standardEventsDataHelper(entryFields),
        spaceId,
        entryId,
      };

      return { content, spaceId, entryId };
    } catch (e) {
      throw new Error(e);
    }
  },
  head() {
    return getPageMetadata((this as any).content.metadata, this.$route.path);
  },
});
</script>

<template>
  <div>
    <LightningHero v-if="content.hero" :data="content.hero" />
    <Intro v-if="content.description" :data="content.description" />
    <div v-if="content.booth" class="booth">
      <EventSection
        v-for="(item, index) in content.booth"
        :key="index"
        class="slp-pb-32"
        :data="item"
      />
    </div>
    <EventsSchedule v-if="content.agenda" :data="content.agenda" />
    <Careers v-if="content.careers" :data="content.careers" />
    <div v-if="content.footnote">
      <Conduct
        v-for="footnote in content.footnote"
        :key="footnote.header"
        :data="footnote"
      />
    </div>
    <NextStep :variant="content.nextSteps" />
  </div>
</template>
