<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    data: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
    background: {
      type: String,
      required: false,
      default: '',
    },
  },
});
</script>

<template>
  <div :id="data.id" class="copy_block" :class="background">
    <SlpContainer>
      <SlpColumn :cols="12" class="slp-py-lg-96 slp-py-64">
        <SlpTypography
          variant="heading2-bold"
          class="copy_block__header"
          tag="h2"
          >{{ data.header }}
        </SlpTypography>
        <div class="copy_block__content copy">
          <SlpTypography variant="heading5" tag="div">
            <div class="copy_block__text" v-html="$md.render(data.text)"></div>
          </SlpTypography>
        </div>
      </SlpColumn>
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
.purple-background {
  background: $color-surface-800;
}
.copy_block {
  &__header {
    margin-bottom: $spacing-16;
  }
}
.copy_block__text {
  &:deep p {
    margin-bottom: $spacing-16;
  }
  &:deep a {
    text-decoration: underline;
  }
  &:deep h2 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
    letter-spacing: -1.2px;
    margin-top: 64px;
    margin-bottom: 16px;
    @media (min-width: $breakpoint-sm) {
      margin-top: 96px;
      font-size: 50px;
      line-height: 60px;
      letter-spacing: -1.4px;
    }
  }
  &:deep p:last-child {
    margin-bottom: 0;
  }
  &:deep .header-anchor {
    display: none;
  }
}
</style>
