<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'PressKitNav',
  props: {
    data: {
      type: Array,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <section class="press-kit-nav">
    <SlpContainer>
      <div class="press-kit-nav__container">
        <slp-button
          v-for="link in data"
          :key="link.internalName"
          class="press-kit-nav__button"
          variant="ghost"
          :href="link.externalUrl"
          :data-ga-name="link?.dataGaName"
          :data-ga-location="link?.dataGaLocation"
          >{{ link.text }}</slp-button
        >
      </div>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.press-kit-nav {
  background: #f9f9f9;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px 0 0 0;
  @media (min-width: $breakpoint-md) {
    padding: 50px 0;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    @media (min-width: $breakpoint-md) {
      display: block;
      text-align: center;
    }
  }

  &__button {
    border-radius: 0;
    font-size: 14px;
    color: #828282;
    padding: 12px 18px;
    text-align: center;
    border-bottom: none;
    transition: all ease 0.3s;
    width: 50%;
    text-align: center;
    justify-content: center;
    @media (min-width: $breakpoint-md) {
      margin: 0 10px;
      width: auto;
      border-bottom: 4px solid transparent;
    }
    &:hover,
    &:focus {
      color: #548;
      text-decoration: none;
      border-bottom: none;
      @media (min-width: $breakpoint-md) {
        border-bottom: 4px solid #548;
      }
    }
  }
}
</style>
