<script lang="ts">
import Vue from 'vue';
import { IsMobileMixin } from '../../../mixins';

export default Vue.extend({
  name: 'AnalyticsInsightsCustomerSuccessCard',
  mixins: [IsMobileMixin],
  props: {
    data: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
});
</script>

<template>
  <section
    class="section"
    aria-roledescription="carousel"
    aria-label="Education Case Studies Carousel"
  >
    <SlpContainer class="wrapper">
      <div :class="{ 'cta-container': data.customers_cta }">
        <SlpTypography
          v-if="data.header"
          variant="heading2-bold"
          tag="h3"
          class="slp-mb-32"
          >{{ data.header }}</SlpTypography
        >
        <SlpButton
          v-if="data.customers_cta && !isMobile"
          class="cta"
          :href="data.cta?.href ?? '/customers/'"
          :data-ga-name="data.cta?.data_ga_name ?? 'customers'"
          :data-ga-location="data.cta?.data_ga_location ?? 'body'"
          variant="tertiary"
          >{{ data.cta?.text ?? 'View more stories' }}
          <SlpIcon variant="product" name="chevron-lg-right"
        /></SlpButton>
      </div>
      <div class="case-studies">
        <transition name="fade" mode="out-in" tag="div">
          <div class="case-studies__card">
            <SlpRow>
              <SlpColumn v-if="data.case_study.content.img_url" :cols="5">
                <img
                  loading="lazy"
                  :src="data.case_study.content.img_url"
                  :alt="data.case_study.content.img_alt"
                  class="case-study-image"
                />
              </SlpColumn>
              <SlpColumn
                :cols="data.case_study.content.img_url ? 7 : 12"
                class="content"
              >
                <img class="slp-mb-16 logo" :src="data.case_study.logo_url" />
                <SlpTypography
                  class="slp-mb-24"
                  variant="heading3-bold"
                  tag="h3"
                >
                  {{ data.case_study.content.text }}
                </SlpTypography>
                <SlpButton
                  class="cta-button"
                  :href="data.case_study.content.case_url"
                  variant="primary"
                  >Read case study
                  <SlpIcon name="chevron-right" variant="product"
                /></SlpButton>
              </SlpColumn>
            </SlpRow>
          </div>
        </transition>
        <SlpButton
          v-if="isMobile"
          class="cta slp-mt-24"
          :href="data.cta?.href ?? '/customers/'"
          :data-ga-name="data.cta?.data_ga_name ?? 'customers'"
          :data-ga-location="data.cta?.data_ga_location ?? 'body'"
          variant="tertiary"
          >{{ data.cta?.text ?? 'View more stories' }}
          <SlpIcon variant="product" name="chevron-lg-right"
        /></SlpButton>
      </div>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.section {
  margin-top: $spacing-32;
  padding: $spacing-48 $spacing-16;
  min-width: 100%;
  position: relative;

  @media (min-width: $breakpoint-lg) {
    margin-top: 0;
    padding: $spacing-96 0;
  }
}

.cta-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .cta {
    margin-bottom: $spacing-16;
    text-align: left;
  }

  @media (min-width: $breakpoint-lg) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.wrapper {
  padding: 0 0 $spacing-64;

  @media (max-width: $breakpoint-md) {
    padding: 0 0 $spacing-32;
  }
}

.logo {
  flex: 0 0 130px;
  width: 100%;
  max-height: $spacing-24;
  max-width: 150px;
}

.case-studies {
  &__card {
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    isolation: isolate;
    background: white;
    will-change: contents;
  }

  .case-study-image {
    width: 100%;
    min-height: 100%;
    max-height: 460px;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 4px 0 0 4px;

    @media (max-width: $breakpoint-md) {
      aspect-ratio: 1.5/1;
      min-height: 0;
      max-height: 400px;
    }
  }

  .content {
    background: $color-surface-800;
    padding: $spacing-64 $spacing-16;
    border-radius: 0 4px 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: $breakpoint-lg) {
      padding: $spacing-96 $spacing-32;
    }

    .cta-button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 200px;
    }
  }
}
</style>
