<script lang="ts">
import Vue from 'vue';
import CaseStudyContentSection from './case-study-content-section.vue';
import CaseStudyQuote from './case-study-quote.vue';

export default Vue.extend({
  name: 'CaseStudyContentArea',
  components: {
    CaseStudyContentSection,
    CaseStudyQuote,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
    baseData: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      order: this.getContentOrder(),
    };
  },
  methods: {
    getContentOrder() {
      if (!this.data.quotes) {
        return this.data.content.map((content: any) => ({
          type: 'content',
          data: content.fields,
        }));
      }
      const numQuotes = this.data.quotes.length;
      const numContentSections = this.data.content.length;
      const numContentSectionsPerQuote = Math.ceil(
        numContentSections / numQuotes,
      );
      const orderedContent = [];

      for (let i = 0; i < numQuotes; i++) {
        if (this.data.quotes[i]) {
          orderedContent.push({
            type: 'quote',
            data: this.data.quotes[i].fields,
          });
        }

        for (let j = 0; j < numContentSectionsPerQuote; j++) {
          if (this.data.content[i * numContentSectionsPerQuote + j]) {
            orderedContent.push({
              type: 'content',
              data: this.data.content[i * numContentSectionsPerQuote + j]
                .fields,
            });
          }
        }
      }

      return orderedContent;
    },
  },
});
</script>

<template>
  <div class="content-area">
    <SlpTypography variant="heading4-bold" tag="h2" class="header">{{
      data.blurb
    }}</SlpTypography>
    <SlpTypography variant="body1">
      <div v-html="$md.render(data.introduction)" />
    </SlpTypography>
    <template v-for="(item, index) in order">
      <CaseStudyQuote
        v-if="item.type == 'quote'"
        :key="`quote-${index}`"
        :data="item.data"
      />
      <CaseStudyContentSection
        v-else-if="item.type == 'content'"
        :key="`content-${index}`"
        :data="item.data"
      />
    </template>
    <SlpTypography variant="body3" tag="p" class="slp-mt-24">{{
      baseData.disclaimer
    }}</SlpTypography>
  </div>
</template>

<style scoped lang="scss">
.content-area {
  padding-left: $spacing-96;
}

.header {
  margin-bottom: $spacing-32;
}

@media (max-width: $breakpoint-sm) {
  .content-area {
    padding-left: 0px;
  }

  .header {
    margin-bottom: $spacing-16;
  }
}
</style>
