<script lang="ts">
import Vue from 'vue';
import { init, refresh } from 'aos';
import { LocalizedHrefMixin } from '../mixins';
import { NAV_CONTENT_TYPES } from '../common/content-types';
import SlpNavigationHOC from '../components/navigation/navigation-hoc.vue';
import CodeSuggestionsSalesHOC from '~/components/navigation/code-suggestions-sale.vue';
import { convertToCaseSensitiveLocale } from '../common/util';

import { getNavigationClient } from '~/plugins/contentful';

export default Vue.extend({
  components: {
    SlpNavigationHOC,
    CodeSuggestionsSalesHOC,
  },
  mixins: [LocalizedHrefMixin],
  data() {
    return {
      footer: {},
      submitted: false,
    };
  },
  async fetch() {
    const footerEntry = await getNavigationClient().getEntries({
      content_type: NAV_CONTENT_TYPES.FOOTER,
      'sys.id': 'QxdoqHd5ixKTwFjIHYvYI',
      include: 3,
      locale: convertToCaseSensitiveLocale(this.$i18n.locale),
    });

    const [footer] = footerEntry.items;

    this.footer = footer;
  },
  head() {
    let path;
    if (this.$route.path === '/') {
      path = 'https://about.gitlab.com/';
    } else if (this.$route.path.endsWith('/')) {
      path = `https://about.gitlab.com${this.$route.path}`;
    } else {
      path = `https://about.gitlab.com${this.$route.path}/`;
    }
    return {
      link: [
        {
          rel: 'canonical',
          href: path,
        },
      ],
      htmlAttrs: {
        lang: this.$i18n.locale,
      },
    };
  },
  beforeMount() {
    this.validateIndexFiles();
    this.addSourceListeners();
    this.addSearchListener();

    init({
      once: true,
    });
  },
  mounted() {
    refresh();
  },
  created() {
    this.$nuxt.$on('submit', () => {
      this.submitted = !this.submitted;
    });
  },
  methods: {
    validateIndexFiles() {
      if (this.$route.path.endsWith('index.html')) {
        const queryParams = this.$route.query;
        const oldPath = this.$route.path.replace(/(\W*index\.html\W*)/g, '');
        this.$router.replace({
          path: `${oldPath}/`,
          query: queryParams,
        });
      }
    },
    addSearchListener() {
      document.addEventListener('navSearch', (event) => {
        this.$router.push({
          path: '/search',
          query: { searchText: event.detail.searchText },
        });
      });
    },
    addSourceListeners() {
      let fileName =
        this.$route.path.replace(/(^\/)|(\/$)/g, '') || this.$route.name;

      // PATCH: fixes error with viewing page source on English homepage
      if (fileName === 'index___en-us') {
        fileName = 'index';
      }

      this.$content(fileName)
        .limit(2)
        .fetch()
        .then((content) => {
          if (Array.isArray(content)) {
            fileName = `${fileName}/index`;
          }

          document.addEventListener('webIDE', () => {
            window.location.href = `https://gitlab.com/-/ide/project/gitlab-com/marketing/digital-experience/buyer-experience/edit/main/-/content/${fileName}.yml`;
          });

          document.addEventListener('viewPageSource', () => {
            window.location.href = `https://gitlab.com/gitlab-com/marketing/digital-experience/buyer-experience/-/blob/main/content/${fileName}.yml`;
          });
        })
        .catch(() => {
          // eslint-disable-next-line no-console
          console.error(`File not found in the content folder : ${fileName}`);
        });
    },
  },
});
</script>

<template>
  <div>
    <SlpNavigationHOC v-show="submitted" key="slp-nav" />
    <CodeSuggestionsSalesHOC v-show="!submitted" key="min-nav" />

    <section ref="localizedContainer">
      <Nuxt role="main" />
    </section>
    <client-only>
      <SlpMinimizedFooter :contentful-footer-data="footer" />
    </client-only>
  </div>
</template>

<style>
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  height: 0;
  transform: translateX(30px);
}
</style>
