<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { init, refresh } from 'aos';
import { ContentfulLivePreview } from '@contentful/live-preview';
import { getPageMetadata } from '~/common/meta';
import { TEMPLATES } from '~/common/constants';
import DefaultTemplate from '~/components/solutions/templates/default-template.vue';
import IndustryTemplate from '~/components/solutions/templates/industry-template.vue';
import FeaturesTemplate from '~/components/features/templates/features-template.vue';
import NavBanner from '~/components/navigation/nav-banner.vue';
import SlpNavigationHOC from '~/components/navigation/navigation-hoc.vue';
import SlpFooterHOC from '~/components/navigation/footer-hoc.vue';

import { LivePreviewMixin } from '~/mixins';

export default Vue.extend({
  components: {
    DefaultTemplate,
    IndustryTemplate,
    FeaturesTemplate,
    NavBanner,
    SlpNavigationHOC,
    SlpFooterHOC,
  },
  mixins: [LivePreviewMixin],
  data() {
    return {
      TEMPLATES,
      solutions: null,
      items: null,
    };
  },
  async fetch() {
    const { params } = this.$route;

    try {
      const isIndexSlug = !params.solutions;

      const slug = Object.values(params).join('/');
      const { solutions, items } = await this.$solutionsService.getContent(
        `solutions/${slug}`,
        isIndexSlug,
      );

      this.solutions = solutions;
      this.items = items;
    } catch (e) {
      throw new Error(e);
    }
  },

  head(): MetaInfo {
    return getPageMetadata(
      this.solutions,
      this.$route.path,
      this.$nuxtI18nHead({ addSeoAttributes: true }),
    );
  },
  mounted() {
    if (this.isPreview) {
      const unsubscribeFn = ContentfulLivePreview.subscribe({
        data: this.items,
        callback: async (updatedData) =>
          (this.solutions =
            await this.$solutionsService.transformContentfulData(updatedData)),
      });
      this.livePreviewSubscriptions.push(unsubscribeFn);
    }
    refresh();
  },
  beforeMount() {
    init({
      once: true,
    });
  },
});
</script>

<template>
  <div>
    <NavBanner :current-locale="$i18n.locale" />
    <SlpNavigationHOC />
    <section v-if="solutions">
      <industry-template
        v-if="solutions?.template === TEMPLATES.Industry"
        :solutions="solutions"
      />
      <features-template
        v-else-if="solutions?.template === TEMPLATES.Feature"
        :page="solutions"
      />
      <solutions-templates-industry-template-alt
        v-else-if="solutions?.template === TEMPLATES.IndustryAlternative"
        :solutions="solutions"
      />
      <default-template v-else :solutions="solutions" />
    </section>
    <SlpFooterHOC />
  </div>
</template>

<style scoped lang="scss">
section[role='main'] {
  overflow: clip;
}
</style>
