<script lang="ts">
import Vue from 'vue';
import {
  FeaturedVideo,
  GetInTouch,
  HeaderSection,
} from '../components/landing/index.vue';
import { getPageMetadata } from '../common/meta';

export default Vue.extend({
  components: {
    HeaderSection,
    GetInTouch,
    FeaturedVideo,
  },
  nuxtI18n: false,
  async asyncData({ $content, params }: any) {
    const doc = await $content('livestream', params.slug).fetch();
    return { doc };
  },
  head() {
    return getPageMetadata(this.doc, this.$route.path);
  },
});
</script>

<template>
  <div class="wrapper">
    <SlpContainer>
      <HeaderSection :data="doc.header" />
      <featured-video id="thank-you" :data="doc.livestream" />
    </SlpContainer>
    <GetInTouch
      id="stay-in-touch"
      :data="doc.get_in_touch_email_acquisition_block"
    />
  </div>
</template>
