<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { getPageMetadata } from '../common/meta';
import { smallBusinessDataHelper } from '../services/small-business.service';

import {
  CardBasicStyle,
  NewQuotesCarousel,
  NextStep,
  NextStepAlt,
  PricingTiers,
  SideNavigationVariant,
} from '../components/common/index.vue';
import {
  SolutionsHero,
  SolutionsResourceCards,
} from '../components/solutions/index.vue';
import {
  BySolutionBenefits,
  BySolutionIntro,
  BySolutionValueProp,
} from '../components/solutions/by-solution/index.vue';
import {
  ByIndustryCaseStudies,
  ByIndustryIntro,
  ByIndustrySolutionsBlock,
} from '../components/solutions/by-industry/index.vue';
import { CONTENT_TYPES } from '../common/content-types';
import { getClient } from '../plugins/contentful';
import { ContentfulLivePreview } from '@contentful/live-preview';
import { LivePreviewMixin } from '~/mixins';

export default Vue.extend({
  components: {
    NextStep,
    SideNavigationVariant,
    SolutionsHero,
    ByIndustryIntro,
    BySolutionIntro,
    BySolutionBenefits,
    ByIndustrySolutionsBlock,
    BySolutionValueProp,
    ByIndustryCaseStudies,
    NewQuotesCarousel,
    NextStepAlt,
    CardBasicStyle,
    PricingTiers,
    SolutionsResourceCards,
  },
  mixins: [LivePreviewMixin],
  async asyncData({ $content, params, i18n }: any) {
    try {
      let localized;
      const locale = i18n.locale === i18n.defaultLocale ? '' : i18n.locale;
      if (locale) {
        localized = true;
        const doc = await $content(
          locale,
          'small-business',
          params.slug,
        ).fetch();
        return { doc, localized };
      }

      const { items } = await getClient().getEntries({
        content_type: CONTENT_TYPES.PAGE,
        'sys.id': '1CB5FAjDG9M18aoEQEpz3m',
        include: 10,
      });

      localized = false;

      const doc = smallBusinessDataHelper(items);
      return { doc, localized, items };
    } catch (e) {
      throw new Error(e);
    }
  },
  head(): MetaInfo {
    return getPageMetadata(
      (this as any).doc,
      this.$route.path,
      this.$nuxtI18nHead({ addSeoAttributes: true }),
    );
  },
  mounted() {
    if (this.isPreview) {
      const unsubscribeFn = ContentfulLivePreview.subscribe({
        data: this.items,
        callback: (updatedData) =>
          (this.doc = smallBusinessDataHelper(updatedData)),
      });
      this.livePreviewSubscriptions.push(unsubscribeFn);
    }
  },
});
</script>

<template>
  <!-- we have this v-if because this page has 2 different contents, one for localized content (but not migrated yet) and the other for the english version, after we localize this content we can remove the first one -->
  <div v-if="localized" class="overflow-clip">
    <SolutionsHero :data="doc.solutions_hero" />
    <ByIndustryIntro :data="doc.by_industry_intro" />
    <SideNavigationVariant :links="doc['side_navigation_links']">
      <div id="overview" data-slippers-scroll="overview">
        <BySolutionIntro :data="doc.by_solution_intro" />
        <BySolutionBenefits :data="doc.by_solution_benefits" />
      </div>
      <ByIndustrySolutionsBlock
        id="capabilities"
        :data="doc.by_industry_solutions_block"
      />
      <BySolutionValueProp
        id="benefits"
        :justify-content="true"
        :data="doc.by_solution_value_prop"
      />
      <ByIndustryCaseStudies
        id="case-studies"
        :data="doc.by_industry_case_studies"
      />
    </SideNavigationVariant>
    <SolutionsResourceCards :data="doc.solutions_resource_cards" />
    <NextStep />
  </div>
  <div v-else class="overflow-clip small-business">
    <SolutionsHero :data="doc.solutions_hero" />
    <SideNavigationVariant :links="doc['side_navigation_links']">
      <BySolutionValueProp
        id="capabilities"
        :data="doc.by_solution_value_prop"
      />
      <NewQuotesCarousel
        id="case-studies"
        :data="doc.by_industry_case_studies"
        data-darkmode="true"
      />
      <PricingTiers id="pricing" :data="doc.pricing_tier"></PricingTiers>
      <section class="small-business__card">
        <CardBasicStyle>
          <template #header>
            {{ doc.card_content?.title }}
          </template>
          <SlpTypography class="slp-mb-24" tag="div" variant="body1">
            {{ doc.card_content?.description }}
          </SlpTypography>
          <SlpButton
            variant="primary"
            class="slp-mt-32"
            :data-ga-name="doc.card_content?.button.data_ga_name"
            :data-ga-location="doc.card_content?.button.data_ga_location"
            :href="doc.card_content?.button.href"
          >
            {{ doc.card_content?.button.text }}
          </SlpButton>
        </CardBasicStyle>
      </section>
    </SideNavigationVariant>
    <NextStepAlt />
  </div>
</template>

<style scoped lang="scss">
.small-business {
  &__card {
    min-height: 252px;
    margin: $spacing-48 0 $spacing-160;
    max-width: 100%;
  }
}
</style>
