<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'SeriesHeader',
  props: {
    header: {
      type: String,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <div>
    <div class="decorator" />
    <SlpTypography tag="h2" variant="heading2-bold" class="slp-py-16">
      {{ header }}
    </SlpTypography>
    <slot></slot>
  </div>
</template>

<style lang="scss" scoped>
.decorator {
  width: 95px;
  height: 4px;
  border-radius: 10px;
  background: linear-gradient(
    89.95deg,
    #feb484 3.13%,
    #a686f2 66.86%,
    #592ac8 123.2%
  );
}
</style>
