/* eslint-disable no-unused-components */
<script lang="ts">
import Vue from 'vue';
import { CONTENT_TYPES } from '../../common/content-types';
import { getPageMetadata } from '../../common/meta';
import { CropInfinityHero, NextStep } from '~/components/common/index.vue';
import {
  ResourcesBrowser,
  ResourcesFeaturedItems,
  ResourcesNextSteps,
  ResourcesStartHere,
} from '~/components/resources/index.vue';
import { getClient } from '~/plugins/contentful.js';
import { ContentfulLivePreview } from '@contentful/live-preview';
import { FooterEditLinkMixin, LivePreviewMixin } from '~/mixins';

// TODO: Move this mapper to a service
function mapResources(items) {
  const hero = {
    title: items[0].fields.pageContent[0].fields.title,
    subtitle: items[0].fields.pageContent[0].fields?.description,
    primary_btn: items[0].fields.pageContent[0].fields.primaryCta.fields,
  };
  const metadata = {
    title: items[0].fields.seoMetadata[0].fields.ogTitle,
    ogTitle: items[0].fields.seoMetadata[0].fields.ogTitle,
    description: items[0].fields.seoMetadata[0].fields?.description,
    ogDescription: items[0].fields.seoMetadata[0].fields.ogDescription,
    ogType: items[0].fields.seoMetadata[0].fields.ogType,
    ogUrl: items[0].fields.seoMetadata[0].fields.ogUrl,
    ogSiteName: items[0].fields.seoMetadata[0].fields.ogSiteName,
    ogImage: items[0].fields.seoMetadata[0].fields.ogImage,
  };

  const startHere = {
    title: items[0].fields.pageContent[1].fields.header,
    cards: items[0].fields.pageContent[1].fields.card,
  };

  const resources = {
    title: items[0].fields.schema.title,
    learn_more_text: items[0].fields.schema.learn_more_text,
    load_more_text: items[0].fields.schema.load_more_text,
    resources: items[0].fields.schema.resources,
  };

  const featuredResources = {
    title: items[0].fields.pageContent[2].fields.header,
    featured_card: items[0].fields.pageContent[2].fields.card[0].fields,
    cards: [
      items[0].fields.pageContent[2].fields.card[1].fields,
      items[0].fields.pageContent[2].fields.card[2].fields,
      items[0].fields.pageContent[2].fields.card[3].fields,
    ],
  };

  const nextCards = {
    title: items[0].fields.pageContent[3].fields.header,
    cards: [
      items[0].fields.pageContent[3].fields.card[0].fields,
      items[0].fields.pageContent[3].fields.card[1].fields,
      items[0].fields.pageContent[3].fields.card[2].fields,
    ],
  };

  return {
    hero,
    startHere,
    metadata,
    resources,
    featuredResources,
    nextCards,
  };
}

export default Vue.extend({
  name: 'ResourcesPage',
  components: {
    CropInfinityHero,
    ResourcesStartHere,
    ResourcesBrowser,
    ResourcesFeaturedItems,
    ResourcesNextSteps,
    NextStep,
  },
  nuxtI18n: false,
  mixins: [LivePreviewMixin, FooterEditLinkMixin],
  async asyncData() {
    try {
      const { items } = await getClient().getEntries({
        content_type: CONTENT_TYPES.PAGE,
        'fields.slug': 'resources',
        include: 10,
      });
      const spaceId = items[0].sys.space.sys.id;
      const entryId = items[0].sys.id;
      const resources = mapResources(items);

      return { resources, items, spaceId, entryId };
    } catch (error) {
      throw new Error(error);
    }
  },
  head() {
    return getPageMetadata((this as any).resources.metadata, this.$route.path);
  },
  mounted() {
    setTimeout(() => {
      window.__vimeoRefresh();
    }, 3000);

    if (this.isPreview) {
      const unsubscribeFn = ContentfulLivePreview.subscribe({
        data: this.items,
        callback: (updatedData) => (this.resources = mapResources(updatedData)),
      });
      this.livePreviewSubscriptions.push(unsubscribeFn);
    }
  },
});
</script>
<template>
  <div>
    <CropInfinityHero v-if="resources.hero" :data="resources.hero" />
    <ResourcesStartHere
      v-if="resources.startHere"
      :data="resources.startHere"
    />
    <ResourcesFeaturedItems
      v-if="resources.featuredResources"
      :data="resources.featuredResources"
    />
    <ResourcesBrowser v-if="resources.resources" :data="resources.resources" />
    <ResourcesNextSteps
      v-if="resources.nextCards"
      :data="resources.nextCards"
    />
    <SlpContainer>
      <NextStep disable-animations :variant="2" />
    </SlpContainer>
  </div>
</template>

<style scoped lang="scss"></style>
