<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { getPageMetadata } from '~/common/meta';
import { CTA as CallToAction, Copy } from '../../components/common/index.vue';
import { getClient } from '../../plugins/contentful.js';
import { CONTENT_TYPES } from '../../common/content-types';
import { convertToCaseSensitiveLocale } from '~/common/util';

export default Vue.extend({
  components: {
    Copy,
    CallToAction,
  },
  async asyncData({ i18n, redirect }: any) {
    try {
      const { items } = await getClient().getEntries({
        content_type: CONTENT_TYPES.PAGE,
        'sys.id': '4dY7I9B2DyrgvF9rXpKq9n',
        include: 10,
        locale: convertToCaseSensitiveLocale(i18n.locale),
      });
      const data = items[0].fields.pageContent[0].fields;

      const impressumCTA = {
        horizontal_rule: true,
        centered_by_default: true,
        title: data.header,
      };

      const impressumText = {
        block: [
          {
            text: data.text,
            hide_horizontal_rule: true,
          },
        ],
      };

      const impressum = {
        title: data.header,
        impressumCTA,
        impressumText,
      };

      return { impressum };
    } catch (e) {
      return redirect('/404');
    }
  },
  nuxtI18n: {
    locales: ['de-de'],
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).impressum, this.$route.path);
  },
});
</script>

<template>
  <SlpContainer class="impressum">
    <CallToAction :data="impressum.impressumCTA" />
    <Copy :data="impressum.impressumText" />
  </SlpContainer>
</template>

<style lang="scss" scoped>
/* Custom styles for this page only */
.impressum {
  margin-bottom: $spacing-96;
  .cta {
    margin-bottom: 0;
  }
}
</style>
